<section class="about-me" id="about-me">
    <div class="container">
        <h2 class="about-me-title">ABOUT <span class="about-me-green">ME</span></h2>
        <div class="about-me-content">
            <div class="about-me-image">
                <img class="about-me-img" 
                    srcset="
                      ./img/about-me/about-mob.webp, 
                      ./img/about-me/about-mob-2x.webp" 
                    src="./img/about-me/about-mob.webp" 
                    alt="Lloyd Jefferson"
                    width="320" 
                    height="374" />
            </div>
            <div class="about-me-bio">
                <h2 class="about-me-bio-title">BIO</h2>
                <p class="about-me-bio-text">I'm Lloyd Jefferson, a talented programmer specializing in software
                    development.
                    My expertise spans various programming languages and technologies, and I am dedicated to continually
                    enhancing my skills.
                    I thrive on seeking unconventional and creative solutions to problems, leveraging a high level of
                    analytical skills
                    to effectively tackle even the most challenging tasks.
                </p>
                <p class="about-me-bio-text">Adaptable to both independent and team-oriented work, I collaborate
                    seamlessly with colleagues,
                    exchanging ideas and finding optimal solutions. My professional maturity enables me to navigate
                    challenges and stressful
                    situations with a calm demeanor, maintaining a consistently high quality of work. Committed to
                    self-improvement,
                    I actively engage in studying new technologies and practices to stay current with the latest
                    innovations in the field.
                </p>
            </div>
            <div class="about-me-details">
                <div class="about-me-education">
                    <h2 class="about-me-education-title">EDUCATION</h2>
                    <ul class="about-me-education-list">
                        <li class="about-me-education-item">
                            <p class="about-me-education-text">2018 - 2019 / Frontend Development Diploma, GoIT IT School,
                                New York
                            </p>
                        </li>
                        <li class="about-me-education-item">
                            <p class="about-me-education-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                                School, New York
                            </p>
                        </li>
                        <li class="about-me-education-item">
                            <p class="about-me-education-text">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                        </li>
                    </ul>
                </div>
                <div class="about-me-role">
                    <h2 class="about-me-role-title">ROLE</h2>
                    <ul class="about-me-role-list">
                        <li class="about-me-role-item">
                            <p class="about-me-role-text">Frontend development</p>
                        </li>
                        <li class="about-me-role-item">
                            <p class="about-me-role-text">HeadlessCMS, Wordpress</p>
                        </li>
                        <li class="about-me-role-item">
                            <p class="about-me-role-text">Blender (enjoy)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>