<section
  class="about-me"
  id="about-me"
  data-aos="fade-down-right"
  data-aos-easing="linear"
  data-aos-duration="1500"
>
  <div class="container">
    <h2 class="about-me-title">ABOUT <span class="about-me-green">ME</span></h2>
    <div class="about-me-content">
      <div class="about-me-image">
        <picture>
          <source
            srcset="
              ./img/about-me/about-mob.webp,
              ./img/about-me/about-mob-2x.webp 2x
            "
            media="(max-width:767px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/about-me/about-mob.png,
              ./img/about-me/about-mob-2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/about-me/about-tab.webp,
              ./img/about-me/about-tab-2x.webp 2x
            "
            media="(min-width:768px) and (max-width:1279px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/about-me/about-tab.png,
              ./img/about-me/about-tab-2x.png 2x
            "
            media="(min-width:768px) and (max-width:1279px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/about-me/about-desk.webp,
              ./img/about-me/about-desk-2x.webp 2x
            "
            media="(min-width:1280px)"
            type="image/webp"
          />

          <source
            srcset="
              ./img/about-me/about-desk.png,
              ./img/about-me/about-desk-2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />

          <img
            class="about-me-img"
            src="./img/about-me/about-desk.png"
            width="384"
            height="448"
            alt="My photo"
          />
        </picture>
      </div>
      <div class="about-me-bio">
        <h3 class="about-me-bio-title">BIO</h3>
        <p class="about-me-bio-text">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="about-me-bio-text">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
      <div class="about-me-details">
        <div class="about-me-education">
          <h3 class="about-me-education-title">EDUCATION</h3>
          <ul class="about-me-education-list">
            <li class="about-me-education-item">
              <p class="about-me-education-text">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
            </li>
            <li class="about-me-education-item">
              <p class="about-me-education-text">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
            </li>
            <li class="about-me-education-item">
              <p class="about-me-education-text">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </li>
          </ul>
        </div>
        <div class="about-me-role">
          <h3 class="about-me-role-title">ROLE</h3>
          <ul class="about-me-role-list">
            <li class="about-me-role-item">
              <p class="about-me-role-text">Frontend development</p>
            </li>
            <li class="about-me-role-item">
              <p class="about-me-role-text">HeadlessCMS, Wordpress</p>
            </li>
            <li class="about-me-role-item">
              <p class="about-me-role-text">Blender (enjoy)</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
