<section class="about-me">
    <div class="container">
        <div class="header">
            <h1>ABOUT <span class="accent-green">ME</span></h1>
        </div>
        <div class="content">
            <div class="bio">
                <h2>BIO</h2>
                <p>I'm Lloyd Jefferson, a talented programmer specializing in software development. My expertise spans various programming languages and technologies, and I am dedicated to continually enhancing my skills. I thrive on seeking unconventional and creative solutions to problems, leveraging a high level of analytical skills to effectively tackle even the most challenging tasks.</p>
            </div>
            <div class="image">
                <img src="" alt="Lloyd Jefferson">
            </div>
            <div class="details">
                <div class="education">
                    <h2>EDUCATION</h2>
                    <ul>
                        <li><span>2018 - 2019</span> / Frontend Development Diploma, GoIT IT School, New York</li>
                        <li><span>2019 - 2020</span> / Advanced Web Development Certificate, GoIT IT School, New York</li>
                        <li><span>2020 - 2022</span> / Advanced Blender Animation Techniques, Udemy</li>
                    </ul>
                </div>
                <div class="role">
                    <h2>ROLE</h2>
                    <ul>
                        <li>Frontend development</li>
                        <li>HeadlessCMS, Wordpress</li>
                        <li>Blender (enjoy)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>