<footer class="page-footer">
  <div class="container footer-container">
    <div class="footer-main-container">
      <p class="footer-name-text">
        Lloyd<span class="footer-name-text-span">Jefferson</span>
      </p>
      <ul class="footer-soc-list">
        <li class="footer-item">
          <a
            class="footer-soc-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-soc-link"
            href="https://www.facebook.com/goitclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-soc-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-soc-link"
            href="https://github.com/dr-jeky11/portfolio"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-copyright-text">
      © Copyright 2024. <br />Made by LloydJefferson
    </p>
  </div>
</footer>
