<section id="header">
  <div class="headers container">
    <a href="../index.html" class="logo"
      >Lloyd<span class="span">Jefferson.</span></a
    >
    <label class="switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider"></span>
    </label>
    <nav class="nav-menu">
      <ul class="menu-list">
        <li class="menu-item"><a href="#">About me</a></li>
        <li class="menu-item"><a href="#"></a>Projects</li>
        <li class="menu-item"><a href="#"></a>Contacts</li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-btn" data-mobile-open>
      <svg class="mobile-menu-icon" width="22" height="16" id="icon_mobile">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</section>
