<header class="header" id="header">
  <div class="header-container container">
    <a class="logo" href="./index.html"
      >Lloyd<span class="logo-green">Jefferson.</span></a
    >
    <button class="burger-icon" type="button" aria-label="mobile menu">
      <svg width="32" height="32" class="icon-color">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <button class="close-modal" type="button" aria-label="close mobile menu">
      <svg width="32" height="32" class="icon-color">
        <use href="./img/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <div class="nav-switcher">
      <div class="switch-theme-wrapper">
        <input
          class="switch-theme-checkbox"
          value="light"
          type="checkbox"
          id="theme-check"
          aria-label="Theme swicther toggle"
        />

        <label class="theme-toggle" for="theme-check"></label>
        <div class="checkbox-circle"></div>
      </div>

      <nav class="header-navigation">
        <ul class="header-menu">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#about-me">About me</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#my-projects">Projects</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#work-together">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="modal-header">
  <div class="modal-content">
    <nav>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about-me">About me</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#my-projects">Projects</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="nav-switcher mobile-switcher">
      <div class="switch-theme-wrapper">
        <input
          class="switch-theme-checkbox"
          value="light"
          type="checkbox"
          id="theme-checks"
        />

        <label class="theme-toggle" for="theme-check"></label>
        <div class="checkbox-circle"></div>
      </div>
    </div>
  </div>
</div>
