<!-- <section class="hero">
  <div class="hero-text">
    <h1 class="title">
      Hello, I am <span class="h-span">Fullstack developer</span>
    </h1>
  </div>
  <img
    class="picture"
    srcset="./img/hero-img/img1x.png 1x, ./img/hero-img/img2x.png 2x"
    src="./img/hero-img/img1x.png"
    alt="LloydJefferson"
  />
  <button></button>
  <div class="title-text">
    <p class="p-text">
      I work with people all over the world to create
      <span class="p-span">impressive</span>and<span class="p-span"
        >functional websites</span
      >
      that reflect each client’s unique personality.
    </p>
  </div>
  <button>
    <a href="./work-together.html">Order the project</a>
  </button>
  <div class="social-links">
    <a class="a-text" href="https://www.instagram.com/goitclub/"> Instagram</a>
    <a class="a-text" href="https://www.facebook.com/goITclub/">Facebook</a>
    <a
      class="a-text"
      href="https://www.linkedin.com/school/goit-start-your-career-in-it"
      >LinkedIn
    </a>
    <a class="a-text" href="">GitHub</a>
  </div>
</section> -->

<section>
  <div class="hero-text">
    <h1 class="title">
      Hello, I am <span class="h1-span">Fullstack developer</span>
    </h1>
  </div>
  <button class="btn">
    <svg class="btn-svg" width="30" height="16">
      <use href="./img/icons.svg#icon-arrow-right"></use></svg>Order the project
  </button>
  <img src="" alt="" />
  <img src="" alt="" />
  <img src="" alt="" />
  <img src="" alt="" />
  <div class="title-text">
    <p class="p-text">
      I work with people all over the world to create
      <span class="p-span">impressive</span>and<span class="p-span"
        >functional websites</span
      >that reflect each client’s unique personality.
    </p>
  </div>
  <div class="social-links">
    <a class="a-text" href="https://www.instagram.com/goitclub/"> Instagram</a>
    <a class="a-text" href="https://www.facebook.com/goITclub/">Facebook</a>
    <a
      class="a-text"
      href="https://www.linkedin.com/school/goit-start-your-career-in-it"
      >LinkedIn
    </a>
    <a class="a-text" href="">GitHub</a>
  </div>
</section>
