<section class="hero" id="hero">
  <!-- data-aos="fade-right" data-aos-once="true" -->
  <div class="container hero-container">
    <div class="hero-title-wrap">
      <h1 class="hero-title">
        Hello, I am <span class="hero-title-green"> Fullstack developer </span>
      </h1>
      <picture>
        <source
          srcset="/img/hero/hero-desk.webp 1x, /img/hero/hero-desk-2x.webp 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="/img/hero/hero-desk.png 1x, /img/hero/hero-desk-2x.png 2x"
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img
          src="/img/hero/hero-desk.png"
          alt="Photo of the developer"
          class="hero-img"
          width="592"
          height="444"
        />
      </picture>
    </div>
    <div class="hero-info-wrap">
      <a class="hero-link" href="#work-together">
        <div class="hero-space-link">
          <svg class="hero-icon-arrow">
            <use href="./img/icons.svg#icon-arrow-order"></use>
          </svg>
          Order the project
        </div>
      </a>
      <a
        href="#work-together"
        class="hero-decor-rectangle"
        aria-label="Read more about how to start with us"
      ></a>
      <p class="hero-info">
        I work with people all over the world to create
        <span class="hero-info-greeen">impressive</span> and
        <span class="hero-info-greeen">functional websites</span> that reflect
        each client's unique personality.
      </p>
    </div>
  </div>
  <div class="hero-soc-list-wrap">
    <ul class="hero-soc-list">
      <li class="hero-soc-item">
        <a
          class="hero-soc-link"
          href="https://www.instagram.com/goitclub/"
          target="blank"
          rel="noopener noreferrer nofollow"
          >Instagram</a
        >
      </li>
      <li class="hero-soc-item">
        <a
          class="hero-soc-link"
          href="https://www.facebook.com/goITclub/"
          target="blank"
          rel="noopener noreferrer nofollow"
          >Facebook</a
        >
      </li>
      <li class="hero-soc-item">
        <a
          class="hero-soc-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="blank"
          rel="noopener noreferrer nofollow"
          >Linkedin</a
        >
      </li>
      <li class="hero-soc-item">
        <a
          class="hero-soc-link"
          href="https://github.com/dr-jeky11/portfolio"
          target="blank"
          rel="noopener noreferrer nofollow"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
