<section id="hero" class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello, I am <span class="h1-span">Fullstack developer</span>
    </h1>
    <div class="hero-link">
      <svg class="hero-button-arrow" width="28">
        <use href="./img/icons.svg#icon-Arrow-1"></use>
      </svg>
      <a href="#work-together" class="hero-button-link"> Order the project </a>
    </div>
    <p class="p-text">
      I work with people all over the world to create
      <span class="p-span"> impressive </span> and
      <span class="p-span"> functional websites </span>
      that reflect each client’s unique personality.
    </p>
    <ul class="hero-social-links">
      <li>
        <a
          class="hero-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          Instagram</a
        >
      </li>
      <li>
        <a
          class="hero-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >Facebook</a
        >
      </li>
      <li>
        <a
          class="hero-social-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          >LinkedIn
        </a>
      </li>
      <li>
        <a
          class="hero-social-link"
          href="https://github.com/dr-jeky11/portfolio"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
