<div class="mobile-menu container" data-mobile id="mobile-menu">
  <div class="header-mobile">
    <a href="../index.html" class="logo"
      >Lloyd<span class="logo-green">Jefferson.</span></a
    >
    <button type="button" class="mobile-menu-btns" data-mobile-close>
      <svg class="mobile-menu-icon" width="32" height="32" id="icon_close">
        <use href="./img/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
  </div>

  <nav class="nav-menu-mobile">
    <ul class="menu-list-mobile">
      <li class="menu-item-mobile"><a href="#">About me</a></li>
      <li class="menu-item-mobile"><a href="#"></a>Projects</li>
      <li class="menu-item-mobile"><a href="#"></a>Contacts</li>
    </ul>
  </nav>
  <div class="switch-mobiles">
    <label class="switch-mobile">
      <input type="checkbox" id="theme-toggle-mobile" />
      <span class="slider-mobile"></span>
    </label>
  </div>
</div>
