<section class="projects" id="my-projects">
  <div class="container">
    <h2 class="projects-title">my <span class="span">projects</span></h2>
    <ul class="projects-list">
      <li class="projects-list-item">
        <img
          class="projects-list-img"
          srcset="
            /img/my-projects/proj-1-x1.jpg 1x,
            /img/my-projects/proj-1-x2.jpg 2x
          "
          src="/img/my-projects/proj-1-x1.jpg"
          alt="wallet webservice"
          width="320"
        />
        <p class="projects-list-text">React, JavaScript, Node JS, Git</p>
        <div class="list-title-container">
          <h3 class="projects-list-title">wallet webservice</h3>
          <a class="projects-list-link" href="#"
            >VISIT
            <svg class="projects-list-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-list-item">
        <img
          class="projects-list-img"
          srcset="
            /img/my-projects/proj-2-x1.jpg 1x,
            /img/my-projects/proj-2-x2.jpg 2x
          "
          src="/img/my-projects/proj-2-x1.jpg"
          alt="Green harvest webservice"
          width="320"
        />
        <p class="projects-list-text">React, JavaScript, Node JS, Git</p>
        <div class="list-title-container">
          <h3 class="projects-list-title">Green harvest webservice</h3>
          <a
            class="projects-list-link"
            href="https://dr-jeky11.github.io/health-project/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >VISIT
            <svg class="projects-list-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-list-item">
        <img
          class="projects-list-img"
          srcset="
            /img/my-projects/proj-3-x1.jpg 1x,
            /img/my-projects/proj-3-x2.jpg 2x
          "
          src="/img/my-projects/proj-3-x1.jpg"
          alt="English Exellence webservice"
          width="320"
        />
        <p class="projects-list-text">React, JavaScript, Node JS, Git</p>
        <div class="list-title-container">
          <h3 class="projects-list-title">English Exellence webservice</h3>
          <a class="projects-list-link" href="#"
            >VISIT
            <svg class="projects-list-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button class="projects-button" type="button">LOAD MORE</button>
  </div>
</section>
