<section class="projects" id="my-projects">
  <div class="container">
    <h2 class="projects-title">my <span class="span">projects</span></h2>
    <ul class="projects-list">
      <li class="projects-list-item">
        <img
          class="projects-list-img"
          src="./img/my-projects/img.jpg"
          alt=""
          width="320"
          height="184"
        />
        <p class="projects-list-text">React, JavaScript, Node JS, Git</p>
        <h3 class="projects-list-title">Wallet webservice</h3>
        <a class="projects-list-link" href="../index.html"
          >VISIT
          <svg class="projects-list-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-up"></use>
          </svg>
        </a>
      </li>
      <li class="projects-list-item">
        <img
          class="projects-list-img"
          src="./img/my-projects/img.jpg"
          alt=""
          width="320"
          height="184"
        />
        <p class="projects-list-text">React, JavaScript, Node JS, Git</p>
        <h3 class="projects-list-title">Wallet webservice</h3>
        <a class="projects-list-link" href="../index.html"
          >VISIT
          <svg class="projects-list-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-up"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="projects-button" type="button">LOAD MORE</button>
  </div>
</section>
