<section>
  <div class="container reviews">
    <h2 class="reviews-title">REVIEWS</h2>

    <ul class="reviews-list swiper">
      <li class="reviews-item swiper-pagination">
        <p class="reviews-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>

        <ul class="person-info">
          <li>
            <img src="${avatar_url}" alt="prsn" width="40" height="40" />
          </li>

          <li> <p> Natalia Shevchenko </p> </li>
        </ul>
      </li>

      <li class="reviews-buttons-list">
        <button class="back-btn">
          <svg class="reviews-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button class="next-btn">
          <svg class="reviews-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>

  </div>
</section>
