<script type="module" src="./js/reviews.js"></script>

<section>
  <div class="container reviews">

    <h2 class="reviews-title">REVIEWS</h2>

    <div class="reviews-wrapper swiper">
        <ul class="swiper-wrapper">
              <li class="reviews-item swiper-slide">1Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</li>
              <li class="reviews-item swiper-slide">2Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</li>
              <li class="reviews-item swiper-slide">3Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</li>

        </ul>


        <nav class="reviews-buttons-list">
            <button type="button" class="prev-btn btn" data-prev>
                <svg class="reviews-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-left"></use>
                </svg>
            </button>

            <button type="button" class="next-btn btn" data-next>
                <svg class="reviews-icon" width="24" height="24">
                   <use href="./img/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </nav>
    </div>

  </div>
  
</section>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <script>
    var swiper = new Swiper(".reviews-list", {
      pagination: {
        el: ".swiper-pagination",
        type: "progressbar",
      },
      navigation: {
        nextEl: ".next-btn",
        prevEl: ".back-btn",
      },
    });
  </script>


