<section>
  <div class="container reviews">
    <h2 class="reviews-title">REVIEWS</h2>

    <div class="reviews-wrapper swiper">
      <ul class="reviews-list swiper-wrapper">
        <!-- swiper with reviews -->
      </ul>

      <nav class="reviews-buttons-list">
        <button
          type="button"
          class="prev-btn btn disabled"
          data-prev
          aria-label="Left reviews button"
        >
          <svg class="reviews-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button
          type="button"
          class="next-btn btn"
          data-next
          aria-label="Right reviews button"
        >
          <svg class="reviews-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</section>
