<section class="tech-skills">
  <h2 class="tech-skills-title visually-hidden">Tech skills</h2>
  <div class="marquee">
    <div class="marquee-inner">
      <ul class="marquee-line">
        <li class="marquee-li">HTML/CSS</li>
        <li class="marquee-li">JavaScript</li>
        <li class="marquee-li">React</li>
        <li class="marquee-li">Node. js</li>
        <li class="marquee-li">React Native</li>
        <li class="marquee-li">Typescript</li>
      </ul>
      <ul class="marquee-line">
        <li class="marquee-li">HTML/CSS</li>
        <li class="marquee-li">JavaScript</li>
        <li class="marquee-li">React</li>
        <li class="marquee-li">Node. js</li>
        <li class="marquee-li">React Native</li>
        <li class="marquee-li">Typescript</li>
      </ul>
    </div>
  </div>
  <div class="incl-marquee">
    <div class="incl-marquee-inner">
      <ul class="incl-marquee-line">
        <li class="incl-marquee-li">HTML/CSS</li>
        <li class="incl-marquee-li">JavaScript</li>
        <li class="incl-marquee-li">React</li>
        <li class="incl-marquee-li">Node. js</li>
        <li class="incl-marquee-li">React Native</li>
        <li class="incl-marquee-li">Typescript</li>
      </ul>
      <ul class="incl-marquee-line">
        <li class="incl-marquee-li">HTML/CSS</li>
        <li class="incl-marquee-li">JavaScript</li>
        <li class="incl-marquee-li">React</li>
        <li class="incl-marquee-li">Node. js</li>
        <li class="incl-marquee-li">React Native</li>
        <li class="incl-marquee-li">Typescript</li>
      </ul>
    </div>
  </div>
</section>
