/* .about-me {
    max-width: 360px;
} */

.about-me-title {
    color: #292929;
    font-family: Impact;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 40px;
}

.about-me-green {
    color: #00B068;
}

.about-me-content {}

.about-me-image {}

.about-me-img {
    max-width: 100%;
    width: 320px;
    height: 374px;
    border-radius: 16px;
    display: block;
    margin-bottom: 40px;
}

.about-me-bio {
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.about-me-bio-title {
    color: #292929;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about-me-bio-text {
    color: #292929;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.50;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
    align-self: stretch;
}

.about-me-details {}

.about-me-education {
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.about-me-education-title {
    color: #292929;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about-me-education-list {
    list-style: none;
    padding-left: 40px;
}

.about-me-education-item::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
    width: 4px;
    height: 4px;
    border-radius: 1px;
    background: #00B068;
    margin-left: 10px;
}

.about-me-education-item {
  position: relative;
  padding-left: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 12px;
}

.about-me-education-item:last-child {
  margin-bottom: 0;
}

.about-me-education-text {
    color: #292929;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.50;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
}

.about-me-role {
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.about-me-role-title {
    color: #292929;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 360;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about-me-role-list {
  list-style: none;
  padding-left: 40px;
}

.about-me-role-item {
  position: relative;
  padding-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 12px;
}

.about-me-role-item:last-child {
  margin-bottom: 12px;
}

.about-me-role-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 4px;
    height: 4px;
    border-radius: 1px;
    background: #00B068;
    margin-left: 6px;
}

.about-me-role-text {
    color: #292929;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.50;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
}

/* Tablet */

@media (min-width: 768px) {
  .about-me {
    max-width: 768px;
  }

  .about-me-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.27em;
  }

  .about-me-img {
    width: 336px;
    height: 392px;
  }

  .about-me-bio-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
  }

  .about-me-details {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .about-me {
    max-width: 1280px;
  }

  .about-me-title {
    font-size: 72px;
  }

  .about-me-img {
    width: 500px;
    height: 585px;
  }

  .about-me-bio-title, .about-me-education-title, .about-me-role-title {
    font-size: 40px;
  }

  .about-me-bio-text, .about-me-education-text, .about-me-role-text {
    font-size: 20px;
  }
}