@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../fonts/Poppins-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.ttf') format('ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins Regular', sans-serif;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 32px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.span {
  color: #00b068;
}

.dark-span {
  color: #14c57c;
}
