@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  background-color: #f0f0f0;
  color: #292929;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-family: 'Impact';
  font-size: 64px;
  letter-spacing: 1.8px;
  line-height: 1.25;
}

h2 {
  font-family: 'Impact';
  font-size: 52px;
  letter-spacing: 1.8px;
  line-height: 1.23;
}

h3 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 1.25;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  h1 {
    font-family: 'Impact';
    font-size: 136px;
    letter-spacing: 1.8px;
    line-height: 1.15;
  }

  h2 {
    font-family: 'Impact';
    font-size: 108px;
    letter-spacing: 1.8px;
    line-height: 1.15;
  }

  h3 {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
