body {
  transition: background-color 300ms ease;
}

body.dark,
.dark .modal-header,
.dark .page-footer,
.dark .faq-item,
.dark .switch-theme-wrapper {
  background-color: #1e2023;
}

.dark .logo,
.dark .header-menu-link,
.dark .hero-title,
.dark .hero-link,
.dark .hero-info,
.dark .hero-soc-link,
.dark .hero-space-link,
.dark .about-me-title,
.dark .about-me-bio-title,
.dark .about-me-bio-text,
.dark .about-me-education-title,
.dark .about-me-education-text,
.dark .about-me-role-title,
.dark .about-me-role-text,
.dark .marquee,
.dark .incl-marquee-li::marker,
.dark .projects-list-link,
.dark .projects-button,
.dark .projects-title,
.dark .projects-list-text,
.dark .projects-list-title,
.dark .benefits-title,
.dark .benefits-subtitle,
.dark .benefits-text,
.dark .faq-title,
.dark .faq-item-title,
.dark .faq-text,
.dark .reviews-title,
.dark .reviews-text,
.dark .person-info,
.dark .lwt-title,
.dark .lwt-text,
.dark .ltw-address-link,
.dark .ltw-modal-message,
.dark .footer-name-text,
.dark .footer-soc-link,
.dark .footer-copyright-text,
.dark .cap,
.dark .footer-logo-link {
  color: #f0f0f0;
}

.logo,
.header-menu-link,
.hero-title,
.hero-link,
.hero-info,
.hero-soc-link,
.about-me-title,
.about-me-bio-title,
.about-me-bio-text,
.about-me-education-title,
.about-me-education-text,
.about-me-role-title,
.about-me-role-text,
.marquee,
.incl-marquee-li::marker,
.projects-list-link,
.projects-button,
.projects-title,
.projects-list-text,
.projects-list-title,
.benefits-title,
.benefits-subtitle,
.benefits-text,
.faq-title,
.faq-item-title,
.faq-text,
.reviews-title,
.reviews-text,
.person-info,
.lwt-title,
.lwt-text,
.ltw-address-link,
.ltw-modal-message,
.footer-name-text,
.footer-soc-link,
.footer-copyright-text {
  transition: color 400ms ease;
}

.dark .header-menu-link:hover,
.dark .header-menu-link:focus,
.dark .logo-green,
.dark .hero-green,
.dark .hero-info-greeen,
.dark .hero-link:hover,
.dark .hero-soc-link:hover,
.dark .hero-soc-link:focus,
.hero-decor-rectangle:hover,
.dark .about-me-green,
.dark .marquee-li::marker,
.dark .incl-marquee,
.dark .projects-button:hover,
.dark .projects-button:focus,
.dark .projects-list-icon,
.dark .span,
.dark .benefits-span,
.dark .faq-span,
.dark .lwt-title > span,
.dark .ltw-modal-title,
.dark .ltw-address-link:hover,
.dark .ltw-address-link:focus {
  color: #14c57c;
}

.dark .hero-soc-list,
.dark .incl-marquee,
.dark .projects-list-link,
.dark .reviews .reviews-list .reviews-item,
.dark .cap {
  background-color: #2a2d32;
}

.dark .faq-item.active,
.dark .hero-decor-rectangle {
  background-color: #204136;
}

.dark .accordion-container .ac {
  border-bottom-color: #3d3d3d;
}

.dark .marquee,
.dark .scrollToTopBtn {
  background-color: #214136;
}

.dark .skills-slider-container.skills-slider-container-bottom {
  z-index: 1;
}
.dark .skills-slider-container-bottom,
.dark .my-project-link {
  background: #2a2d32;
}

.dark .my-project-link {
  background: #2a2d32;
  color: #f0f0f0;
  transition: background-color 300ms ease;
}

.dark .projects-list-link:hover,
.projects-list-link:focus {
  background-color: #3b3f45;
}

.dark .hero-decor-rectangle {
  background-color: #204136;
}

.dark .header-menu-link {
  transition: color 300ms ease;
}

.dark .icon-color,
.dark .reviews-icon,
.dark .modal-img,
.dark .faq-btn .faq-btn-open,
.dark .faq-btn .faq-btn-close,
.dark .ltw-modal-close-icon,
.dark .scroll-icon {
  stroke: #f0f0f0;
}

.dark .ltw-address-icon {
  stroke: #14c57c;
}

.dark .input-text,
.dark .textarea-text,
.dark .ltw-modal-container {
  background-color: #2a2d32;
}
.dark .input-text::placeholder,
.dark .textarea-text::placeholder {
  color: rgba(240, 240, 240, 0.4);
}

.dark .form-button,
.dark .ltw-form-btn,
.dark .projects-button::after {
  background-color: #14c57c;
  transition: background-color 300ms ease;
}

.dark .ltw-form-btn:hover,
.dark .ltw-form-btn:focus,
.dark .scrollToTopBtn {
  background-color: #009156;
}

.dark .reviews-buttons-list button {
  border: 1px solid #2a2d32;
}

.dark .reviews-buttons-list button:hover,
.dark .reviews-buttons-list button:focus {
  border: 1px solid rgba(41, 41, 41, 0.3);
  background-color: #3b3f45;
}

.dark .ltw-form-input,
.dark .ltw-form-textarea {
  color: rgba(240, 240, 240, 0.6);
  background-color: #2a2d32;
}

.dark .ltw-modal-backdrop {
  background-color: rgba(30, 32, 35, 0.8);
}

.dark .reviews-item .reviews-text:hover,
.dark .reviews-item .reviews-text:focus {
  /* для macOs */
  scrollbar-color: #ffffff38 #00000000;
}

.dark .reviews-item .reviews-text::-webkit-scrollbar-thumb:hover,
.dark .reviews-item .reviews-text::-webkit-scrollbar-thumb:focus {
  /* колір скролбару Windows */
  background-color: rgba(255, 255, 255, 0.287);
}

.dark .ltw-form-input:not(:placeholder-shown):invalid {
  color: #f05748;
}

.dark .text-invalid {
  color: #f05748;
}

.dark .lwt-icon-valid {
  fill: #14c57c;
  stroke: transparent;
}

.dark .page-footer::before {
  content: '';
  display: block;
  height: 1px;
  background-color: Light grey;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
