body.modal-open {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-switcher {
  display: none;
}

.logo {
  color: #292929;
  font-family: Impact, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}

.icon-color {
  stroke: #292929;
}

.logo-green {
  color: #00b068;
}

.header-navigation {
  display: none;
}

.header-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-menu-link {
  color: #292929;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #00b068;
}

.burger-icon,
.close-modal {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-icon {
  display: block;
}

.close-modal {
  display: none;
}

.modal-header {
  background-image: url(../img/decor-bg/decor-bg-1.webp),
    url(../img/decor-bg/decor-bg-1.png);
  background-color: #f0f0f0;
  background-size: 95%;
  background-repeat: no-repeat;
  position: fixed;
  top: -100%;
  z-index: 999;
  left: 0;
  width: 100%;
  height: calc(100% - 75px);
  justify-content: center;
  align-items: center;
  transition: top 0.5s ease;
  display: flex;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .faq::before {
    background-image: url(../img/decor-bg/decor-bg-1-2x.webp),
      url(../img/decor-bg/decor-bg-1-2x.png);
  }
}

.modal-header.is-active {
  top: 75px;
}

.modal-header.is-hidden {
  top: -100%;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Desktop styles */
@media (min-width: 768px) {
  .header {
    padding: 36px 0;
  }
  .header-container {
    padding: 0 32px;
  }
  .nav-switcher {
    display: flex;
    gap: 20px;
  }

  .burger-icon,
  .modal-header,
  .close-modal {
    display: none !important;
  }

  .header-navigation {
    display: block;
  }

  .header-menu {
    flex-direction: row;
    gap: 40px;
  }

  .logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 1280px) {
  .nav-switcher {
    gap: 40px;
  }
}

.switch-theme-wrapper {
  position: relative;
  overflow: hidden;
  width: 48px;
  height: 24px;
  background-color: #e4e5e6;
  border-radius: 16px;
  transition: background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border: none;
}
.switch-theme-checkbox {
  appearance: none;
}
.theme-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-circle {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  transition: 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-image: url('../img/header/Ellipse.svg');
  background-repeat: no-repeat;
}

.switch-theme-checkbox:checked ~ .checkbox-circle {
  transform: translate(30px, -50%);
  background-image: url('../img/header/moon.svg');
}

.switch-theme-checkbox:checked ~ .theme-toggle {
  background-color: #292929;
  border: none;
}

.mobile-switcher {
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
