body.light-theme {
  background: #f0f0f0;
  color: #292929;
}

.light-theme#icon-mobile {
  fill: #292929;
  stroke: #292929;
}

/* body.light-theme .greentext {
  color: #00b068;
} */

body.light-theme .icon-color {
  fill: #292929;
  stroke: #292929;
}
