.mobile-menu {
  width: 100%;
  max-width: 100%;
}

.mobile-menu {
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;

  overflow: auto;
  top: 19px;

  height: 100vh;
  z-index: 1;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: #f0f0f0;
  color: #292929;

  background-image: url();
  background-size: cover;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.switch-mobile {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch-mobile input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-mobile {
  --background: #e4e5e6;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider-mobile:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px 0px 0px 15px #00b068;

  background: #2a2d32;
  transition: 0.5s;
}

input:checked + .slider-mobile {
  background-color: #2a2d32;
}

input:checked + .slider-mobile:before {
  transform: translateX(100%);
  box-shadow: inset -8px 0px 0px 0px #00b068;
}
.header-mobile {
  display: flex;
  justify-content: center;
  gap: 108px;
  align-items: center;
}
.mobile-menu-btns {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.mobile-menu-icon {
  fill: #292929;
  stroke: #292929;
}
