.tech-skills {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;
}

.marquee {
  position: sticky;
  width: 1392px;
  margin-right: -776px;
  margin-left: -256px;
  padding: 0;
  overflow: hidden;
  color: #292929;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  background-color: #bcdfd1;
  z-index: 12;
}

.marquee-inner {
  overflow: hidden;
  display: inline-flex;
}

.marquee-line {
  list-style-position: inside;
  list-style-type: square;
  margin: 0;
  display: inline-flex;
  padding: 32px 8px;
  align-items: center;
  gap: 16px;
  min-width: 30%;
  white-space: nowrap; /* Забезпечуємо рух тексту в одному рядку */
  overflow: hidden; /* Ховаємо текст, який виходить за межі контейнера */
  animation: marqueeLine 12s linear infinite; /* Застосовуємо анімацію */
}

.marquee-li {
  padding-right: 16px;
}

.marquee-li::marker {
  color: #00b068;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.incl-marquee {
  width: 1392px;
  margin-right: -694px;
  margin-left: -341px;
  padding: 0;
  overflow: hidden;
  transform: rotate(2deg);
  color: #00b068;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  background-color: #e4e5e6;
}

.incl-marquee-inner {
  display: inline-flex;
}

.incl-marquee-line {
  list-style-position: inside;
  list-style-type: square;
  transform: rotate(2deg);
  margin: 0;
  display: inline-flex;
  padding: 32px 8px;
  align-items: center;
  gap: 16px;
  min-width: 30%;
  white-space: nowrap; /*Забезпечуємо рух тексту в одному рядку */
  overflow: hidden; /*Ховаємо текст, який виходить за межі контейнера */
  animation: marqueeLine 19s linear infinite; /*Застосовуємо анімацію */
}

.incl-marquee-li {
  padding-right: 16px;
}

.incl-marquee-li::marker {
  color: #292929;
  border-radius: 2px;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  .tech-skills {
    padding: 82px 0;
  }
  .marquee {
    position: sticky;
    width: 100%;
    margin: 0;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    z-index: 12;
  }

  .marquee-line {
    padding: 40px 8px;
  }

  .incl-marquee {
    width: 100%;
    margin: 0;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }

  .incl-marquee-line {
    padding: 40px 8px;
  }
}

@media screen and (min-width: 2560px) {
  .marquee-line {
    min-width: 30%;
  }

  .incl-marquee-line {
    min-width: 30%;
  }
}
